body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(225, 135, 61);
}

.caixa {
    text-align: center;
}

   .logo{
    width: 350px;
    margin-top: -40px;

}


input {
    width: 200px;
    padding: 12px 15px;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);

    color: white;
    font-size: 1rem;

    outline: none;
    transition: 0.3s ease;
}


input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}


input:focus {
    background: rgba(255, 255, 255, 0.25);
    border-color: white;
    box-shadow: 0 0 10px rgba(255,255,255,0.6);
}


button {
    width: 150px;
    margin-top: 30px;
    padding: 20px;

    background-color: rgb(209, 92, 28);
    border: none;
    border-radius: 12px;

    color: white;
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s ease, transform 0.2s ease;
}


button:hover {
    background-color: rgb(232, 110, 36);
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}


button:active {
    transform: scale(0.96);
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 1rem;
    color: #ffffff;
     width: 100%;
    padding: 12px 15px;
    font-size: 1rem;

    border-radius: 10px;

    background: rgba(255, 255, 255, 0.1);
    color: white;

    outline: none;
    transition: 0.3s ease;
}


p {
    color: white;
}
