.botao {
padding: 12px 28px;
background: rgba(0, 0, 0, 0.55);
color: white;
text-decoration: none;
font-size: 1.15rem;
border-radius: 10px;
transition: 0.3s ease;
backdrop-filter: blur(3px);
 }

.botao:hover {
background: rgba(0, 0, 0, 0.85);
 transform: translateY(-3px);
 }



.hero {
    height: 100vh;

    background:
        url("imG/1.png") center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; 
}


.hero-content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
}


.nav {
    position: absolute;
    top: 25px !important;
    left: 50% !important;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-link {
    background-color: rgba(0,0,0,0.6);
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    color: white !important;
    font-weight: 500;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: rgba(0,0,0,0.8);
}


.portifolio-horizontal {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    padding: 100px 40px;

    background: #0b0b0b;
    background-image: url("https://i.imgur.com/6WcpQEk.jpg");
    background-size: cover;
    background-position: center;

    position: relative;
}


.portifolio-horizontal .item {
    background: rgba(0, 0, 0, 0.7);
    padding: 35px 25px;
    width: 260px;
    border-radius: 18px;
    text-align: center;

    border: 2px solid rgba(255, 190, 90, 0.35);
    box-shadow: 0 0 30px rgba(255, 180, 80, 0.15);
    position: relative;

    transition: 0.4s ease;
}


.portifolio-horizontal .item:hover {
    transform: translateY(-12px);
    box-shadow: 0 0 40px rgba(255,150,60,0.4);
    border-color: rgba(255,210,120,0.7);
}


.portifolio-horizontal .item h2 {
    color: #ffdb9c;
    font-family: "Georgia", serif;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    text-shadow: 0 0 15px rgba(255,200,100,0.5);
}


.portifolio-horizontal .item p {
    color: #fff;
    opacity: 0.92;
    font-size: 16px;
    line-height: 1.6;
}

.contato {
    background-color: #000; 
    padding: 20px;
  
}

.contato h2,
.contato p {
    color: #fff; 
}



/* RESPONSIVO */
@media (max-width: 900px) {
    .portifolio-horizontal .item {
        width: 90%;
    }
}
